body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header-section{
    display: flex;
    margin-top: 50px;
}
.left-side{
    width: 40%;
    margin-left: 10%;
    margin-top: 100px;
}
.left-side h1{
    font-size: 50px;
}
.mission-title{
    color: orange;
}
.left-side p{
    text-align: justify;
    color: grey;
}
.heading-border{
    line-height: 30px;
    border-left: 4px solid tomato;
    border-radius: 3px;
}
.heading-margin{
    margin-left: 10px;
}
.explore-btn{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
}
.button{
    margin-top: 20px;
    margin-bottom: 40px;
}
.right-side{
    width: 40%;
    margin-left: 10%;
}
.person-img{
    width: 350px;
}
.mission-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.mission-section h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}
.mission-card{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.mission-card p{
    color: grey;
    font-size: 15px;
}
.mission-img{
    width: 200px;
}
.mission{
    background-color: wheat;
    padding: 20px 20px;
    margin-right: 20px;
    border-radius: 30px;
}
.vission{
    background-color: lightgray;
    padding: 20px 20px;
    margin-right: 20px;
    border-radius: 30px;
}
.goals{
    background-color: thistle;
    padding: 20px 20px;
    margin-right: 20px;
    border-radius: 30px;
}
.develop-section{
    display: flex;
    margin-bottom: 100px;
}
.left-develop{
    width: 30%;
    margin-left: 10%;
}
.right-develop{
    width: 50%;
    margin-top: 30px;
    margin-left: 30px;
}
.right-develop h1{
    font-size: 30px;
    font-weight: 900;
    line-height: 20px;
}
.right-develop p{
    color: grey;
    margin-bottom: 30px;
}
.develop-img{
    width: 400px;
}
.documentation-btn{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
}
.community-section{
    display: flex;
    margin-bottom: 100px;
}
.community-img{
    width: 400px;
}
.left-community{
    width: 50%;
    margin-left: 10%;
    margin-right: 30px;
}
.right-community{
    width: 30%;
}
.left-community h1{
    font-size: 30px;
    font-weight: 900;
    line-height: 20px;
}
.left-community p{
    color: grey;
    margin-bottom: 30px;
}